
extends ../layout.pug

block content
  h2= post.title
  p!= post.body
  div.postCreated
    span= post.created.toGMTString()
    p by #{post.author.fullname}
  div.postAction
    a(href="/post/edit/" + post.id)
      i.fa.fa-pencil-square-o(aria-hidden="true")
      | Edit
    | |
    a(href="/post/remove/" + post.id)
      i.fa.fa-trash(aria-hidden="true")
      | Delete
  .comments
    ul
      each comment in comments
        li
          p.text= comment.text
          p.author= comment.author
    if session.isLoggedIn
      form.addCommentForm(method='post', action="/post/comment/" + post.id)
        textarea(name='text')
        br
        ul.userAction
              li
                button(type='submit') Save
              li
                a(href="/")
                  button.userCancel(type='button') Cancel